**Type Conversions**

`Type Conversions Means -> changing the data type into other data types:`

- `int -> float and int -> str `
- `float -> int and float -> str `
- `str -> int and str -> float `

In [ ]:
# int -> float

a = 24 # save in the Memory
print(a) # calling from memory
print(type(a)) # checking the data type

b = float(a) # actual conversions is going on here

print(b) # calling from the Memory
print(type(b)) # checking the data type:

24
<class 'int'>
24.0
<class 'float'>

In [ ]:
a = 24
b = str(a)
print(b)

24

In [ ]:
# int -> str

a = 24 # save in the Memory
print(a) # calling from memory
print(type(a)) # checking the data type

b = str(a) # actual conversions is going on here

print(b) # calling from the Memory
print(type(b)) # checking the data type:

24
<class 'int'>
24
<class 'str'>

In [ ]:
# float -> int

a = 24.55 # save in the Memory
print(a) # calling from memory
print(type(a)) # checking the data type

b = int(a) # actual conversions is going on here

print(b) # calling from the Memory
print(type(b)) # checking the data type:

24.55
<class 'float'>
24
<class 'int'>

In [ ]:
# float -> int

a = 24.55 # save in the Memory
print(a) # calling from memory
print(type(a)) # checking the data type

b = str(a) # actual conversions is going on here

print(b) # calling from the Memory
print(type(b)) # checking the data type:

24.55
<class 'float'>
24.55
<class 'str'>

In [ ]:
# str -> int

a = '567' # save in the Memory
print(a) # calling from memory
print(type(a)) # checking the data type

b = int(a) # actual conversions is going on here

print(b) # calling from the Memory
print(type(b)) # checking the data type:

567
<class 'str'>
567
<class 'int'>

In [ ]:
# str -> int

a = 'kumar' # save in the Memory
print(a) # calling from memory
print(type(a)) # checking the data type

b = int(a) # actual conversions is going on here

print(b) # calling from the Memory
print(type(b)) # checking the data type:

kumar
<class 'str'>

ValueError: invalid literal for int() with base 10: 'kumar'

In [ ]:
# str -> int

a = 'kumar123' # save in the Memory
print(a) # calling from memory
print(type(a)) # checking the data type

b = int(a) # actual conversions is going on here

print(b) # calling from the Memory
print(type(b)) # checking the data type:

kumar123
<class 'str'>

ValueError: invalid literal for int() with base 10: 'kumar123'

In [ ]:
# str -> float

a = 'kumar' # save in the Memory
print(a) # calling from memory
print(type(a)) # checking the data type

b = float(a) # actual conversions is going on here

print(b) # calling from the Memory
print(type(b)) # checking the data type:

kumar
<class 'str'>

ValueError: could not convert string to float: 'kumar'

`Difference between \t and \n in print condition `

In [ ]:
print('data')

data

In [ ]:
print('jan\nfeb\nmar')

jan
feb
mar

In [ ]:
print('jan\tfeb\tmar')

jan	feb	mar

In [ ]:
print('janfe\nbmar\nch')

janfe
bmar
ch

In [ ]:
print('da\nta')

da
ta

In [ ]:
print('\\n')

\n